ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=giftshop;Username=postgres;Password=root;
AdminSettings__AllowedIps__0=127.0.0.1
AdminSettings__AllowedIps__1=::1
AdminSettings__AllowedIps__2=192.168.1.7
AdminSettings__SecretPreAuthKey=Abcd#1234_XyZ987
AdminSettings__AdminUserName=admin
AdminSettings__AdminPassword=admin@2026
